*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2C3E50;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    background-color: #2E8B57;
}
.navbar a{
    text-decoration: none;
    font-weight: 750;
}
.menu{
    display: flex;
    
}
.menu a{
    margin-left: 7rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 750;
}
.searchbar{
    margin-top: 4rem;
    height: 20rem;
    background-image: url("./assets/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    background-color: hsla(0, 0%, 84%, 0.788);
    width: 90%;
    height: 6rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.form input{
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    height: 2.8rem;
    width: 16rem;
    border-radius:5px ;
}

.btn{
    background-color: #2E8B57;
    font-size: 15px;
    padding: 10px 20px;
    border:none;
    cursor: pointer;
    transition: 0.2s ease-in;
    border-radius:5px ;
}
:hover.btn{
    background-color: #2e8b5696;
}
.container{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.package{
    height: 300px;
    width: 80%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height:fit-content;
    margin-bottom: 50px;
    border-radius: 10px;
}
.package li{
    list-style-type: none;
    margin-top:1.5rem;
    margin-bottom:1.5rem;
    font-size: 1.2rem;
    padding-left: 4rem;
    border-top: 1px solid #bbbbbb;
}
.package h2{
    margin: 1.5rem;
}
.answer{
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #979797;
}
.question{
    cursor:pointer;
    
}

.reviewblock{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;

}
.reviewlist{
    height: 16rem;
    width: 16rem;
    background-color: #ffffff;
    border:1px solid #bbbbbb;
}
.contact_main{
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.contact{
    margin-top: 4rem;
    height: 50vh;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contactinput{
    margin-top: 2rem;
}
.contactinput textarea{
    height:10rem ;
    width: 32rem;
    resize: none;
}
#contactbtn{
    align-self: flex-end;
    margin-top:1.2rem;
    margin-right: 0.5rem;
}
